{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container-fluid my-3">
<h1>appointments</h1>
<hr>
</div>

{% for appointment in object_list %}
<div class="container-fluid my-3">
<p><strong>patient name: </strong>{{ appointment.Full_Name}}</p>
<p><strong>appointment time: </strong>{{ appointment.schedule}}</p>
<p><strong>doctor: </strong>{{ appointment.doctor}}</p>
<p><strong>date: </strong>{{ appointment.date}}</p>
<hr>
</div>
{% endfor %}
<a class="btn btn-primary btn-lg" href="{% url 'book_appointment' %}"
role="button">Book Appointment</a>
{% endblock content %}
