<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}

{% if user.is_authenticated and user.is_patient %}
<div class="container">
<h1>This is dashboard for patient</h1>
Hello Mr.{{user.first_name }}!
<p>
<a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
</p>
</div>

{% elif user.is_authenticated and  not user.is_patient %}
<div class="container">
<h1>This is dashboard for doctor</h1>
Hello Dr.{{user.first_name }}!
<p><a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
</p>
</div>

{% else %}
<div class="container">
<h1>You are not logged in</h1>
<a href="{% url 'login' %}" class="btn btn-primary">Log In</a> |
<a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>

</div>
{% endif %}

{% endblock content %}